.employee-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 450px;
  transition: transform 0.2s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.employee-card:hover {
  transform: translateY(-5px);
}

.employee-card-left {
  display: flex;
  align-items: center;
}

.employee-avatar,
.employee-avatar-empty {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1a1a2e;
  font-size: 1.5rem;
  color: #ffc107;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.employee-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 1rem;
  position: relative;
  color: #1a2c2c;
}

.employee-info {
  flex: 1;
}

.arrow-icon {
  font-size: 20px;
  margin-right: 20px;
  opacity: 1;
  color: black;
  transition: transform 0.2s ease;
}

.employee-card:hover .arrow-icon {
  transform: translateX(5px);
}



.employee-progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.3rem;
  font-size: 0.85rem;
  color: #444;
}

.employee-progress label {
  font-weight: 500;
}

.employee-progress progress {
  width: 100px;
  height: 10px;
  border-radius: 6px;
  appearance: none;
}

.employee-progress progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 6px;
}

.employee-progress progress::-webkit-progress-value {
  background-color: #00b894;
  border-radius: 6px;
}

.employee-progress span {
  min-width: 30px;
  text-align: right;
  font-weight: 500;
  color: #333;
}

.employee-progress-bar {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 6px;
  margin-top: 0.5rem;
  overflow: hidden;
}

.employee-progress-bar-fill {
  height: 100%;
  background-color: #00b894;
  transition: width 0.3s ease-in-out;
}

.employee-progress-label {
  font-size: 0.85rem;
  margin-top: 0.3rem;
  color: #666;
}



.employee-actions,
.employee-card-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}


.certificate-btn {
  padding: 0.3rem 0.7rem;
  font-size: 0.8rem;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.certificate-btn:hover {
  background-color: #019875;
}